<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.2/css/ol.css"
    type="text/css" />
  <style>
    html, body, .container {
      height: 100%;
    }
    .video {
      height: 67%;
      width: 100%;
    }
    .map {
      height: 33%;
      width: 100%;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.2/build/ol.js"></script>
  <title>Банкоматы</title>

  </head>
  <body>
    <div id="video" class="video"></div>
    <div id="map" class="map"></div>
    <button id="some-action"> some action</button>
    <script type="text/javascript" src="{% static 'dist/bundle.js' %}"></script>
  </body>
</html>

